@import "tailwindcss";
body,html
{
  font-family: "Geist", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
.custom-scroll::-webkit-scrollbar {
    width: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #ff7b00;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #eee;
}
.smooth-scroll {
    scroll-behavior: smooth;
}

:root {
  --purple: rgb(82, 20, 142);
  --red: #ee4b5a;
  --blue: #16ace3;
  --green: rgb(16, 145, 33);
  --yellow: rgb(255, 190, 39);
  --orange: #ff7e00;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
    --bs-base:#ff7a2e;
    --bs-alert:#006f1f;
    --bs-additional:#4770e4;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --color--header: #899296;
  --color--dateoffuse: #757575;
  --color--button: #44bd32;
  --color--count: #d6001c;
  --color--voucher: #0097e6;
  --color--under--selected: #3aa12a;
  --color--under-item: #d9d9d9;
  --color--under-footer: #687481;
  --color--price: #da4f25;
  --color-infor-voucher: #212121;
  --color--item--sale: #3d3f40;
  --color--item--bought: #004c73;
  --color--footer--main: #dce3ec;
  --color--text:#b5b6b9;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --background--home:#e8e8e9;
    --background--employee:#f3f4f4;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.15),
    hsla(0, 0%, 100%, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --height-header-main: 60px;
  --padding--headding: 14px;
  --padding--common: 12px;
  --margin--headding: 14px;
  --margin--common: 12px;
}