.custom-scroll::-webkit-scrollbar {
    width: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #ff7b00;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #eee;
}
.smooth-scroll {
    scroll-behavior: smooth;
}
